Repository jmcdo29/nestjs-spelunker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

chore: add changelog
  .changeset/light-pigs-shave.md
Due: prettier --write

docs: minor improvements on code snippets & fix hyperlink
  README.md
Due: prettier --write

docs: add sample source code & remove out-of-date comments
  README.md
Due: prettier --write

chore: add changeset
  .changeset/dirty-schools-camp.md
Due: prettier --write

fix: false-positive for providers with falsy values
  src/debug.module.ts
Due: prettier --write, eslint --fix

refactor: extract class-based providers classification to their own path
  src/debug.module.ts
Due: prettier --write, eslint --fix

refactor: strong typing `hasProp` utility
  src/debug.module.ts
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/silent-dogs-decide.md
Due: prettier --write

chore: remove swc to use ts-node instead
  .swcrc
  package.json
  pnpm-lock.yaml
  test/good-circular-dep/bad-circular-dep/app.module.ts
  test/good-circular-dep/bad-circular-dep/bad-circular.e2e-spec.ts
  test/good-circular-dep/bad-circular-dep/bar.module.ts
  test/good-circular-dep/bad-circular-dep/bar.service.ts
  test/good-circular-dep/bad-circular-dep/foo.module.ts
  test/good-circular-dep/bad-circular-dep/foo.service.ts
  test/large-app/app.e2e-spec.ts
Due: prettier --write, eslint --fix

fix: properly handle forward reffed and cyclic dependencies
  src/debug.module.ts
  test/bad-circular-dep/bad-circular.e2e-spec.ts
  test/good-circular-dep/good-circular.e2e-spec.ts
Due: prettier --write, eslint --fix

chore: changeset for circualr dependency fix
  .changeset/wise-oranges-camp.md
Due: prettier --write

chore: remove unused if block
  src/debug.module.ts
Due: prettier --write, eslint --fix

ci: update to node 18 and 20
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/release.yml
  pnpm-lock.yaml
Due: none

refactor: replace .forEach loop by .map
  src/exploration.module.ts
Due: prettier --write, eslint --fix

feat: add `ignoreImports` option to 'explore' method
  src/exploration.module.ts
  src/spelunker.module.ts
Due: prettier --write, eslint --fix

docs: add mention for 'ignore imports' feature
  README.md
Due: prettier --write

chore: add changeset
  .changeset/nervous-eels-repair.md
Due: prettier --write

perf: replace filter+map with only one for-each loop
  src/exploration.module.ts
Due: prettier --write, eslint --fix

test: add suite for 'ignoreImports' feature
  test/large-app/app.e2e-spec.ts
Due: prettier --write, eslint --fix

chore: remove `rimraf` in favor of nestjs cli feat
  nest-cli.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

perf: replace filter+map with one for-each loop on `getImports`
  src/exploration.module.ts
Due: prettier --write, eslint --fix

refactor: avoid creating intermediary arrays when creating new ones
  src/exploration.module.ts
Due: prettier --write, eslint --fix

perf: force property look up instead of keys+includes calls
  src/exploration.module.ts
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/witty-turkeys-act.md
Due: prettier --write

perf: avoid temporary array and iterations on `getProviders`
  src/exploration.module.ts
Due: prettier --write, eslint --fix

refactor: replace `any` return type with proper expected type
  src/exploration.module.ts
Due: prettier --write, eslint --fix

chore: revert pnpm v8 metadata on lock file
  pnpm-lock.yaml
Due: none

perf: replace all 'forEach' with for loops
  src/exploration.module.ts
  src/graphing.module.ts
Due: prettier --write, eslint --fix

perf: avoid intermediary array on `getEdgesRecursively`
  src/graphing.module.ts
Due: prettier --write, eslint --fix
