Repository jmcdo29/nestjs-spelunker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: set up for more e2e tests
  src/index.ts
  test/app.e2e-spec.ts
  test/fixtures/output.ts
  test/jest-e2e.json
  test/large-app/animals/animals.controller.ts
  test/large-app/animals/animals.module.ts
  test/large-app/animals/animals.service.ts
  test/large-app/animals/cats/cats.controller.ts
  test/large-app/animals/cats/cats.module.ts
  test/large-app/animals/cats/cats.service.ts
  test/large-app/animals/dogs/dogs.controller.ts
  test/large-app/animals/dogs/dogs.module.ts
  test/large-app/animals/dogs/dogs.service.ts
  test/large-app/animals/hamsters/hamsters.controller.ts
  test/large-app/animals/hamsters/hamsters.module.ts
  test/large-app/animals/hamsters/hamsters.service.ts
  test/large-app/app.module.ts
Due: prettier --write, eslint --fix

feat: add warning about circular module that is incorrectly set up
  package.json
  src/debug.module.ts
  test/bad-circular-dep/app.module.ts
  test/bad-circular-dep/bad-circular.e2e-spec.ts
  test/bad-circular-dep/bar.module.ts
  test/bad-circular-dep/bar.service.ts
  test/bad-circular-dep/foo.module.ts
  test/bad-circular-dep/foo.service.ts
  test/good-circular-dep/app.module.ts
  test/good-circular-dep/bad-circular-dep/app.module.ts
  test/good-circular-dep/bad-circular-dep/bad-circular.e2e-spec.ts
  test/good-circular-dep/bad-circular-dep/bar.module.ts
  test/good-circular-dep/bad-circular-dep/bar.service.ts
  test/good-circular-dep/bad-circular-dep/foo.module.ts
  test/good-circular-dep/bad-circular-dep/foo.service.ts
  test/good-circular-dep/bar.module.ts
  test/good-circular-dep/bar.service.ts
  test/good-circular-dep/foo.module.ts
  test/good-circular-dep/foo.service.ts
  test/good-circular-dep/good-circular.e2e-spec.ts
  test/index.spec.ts
  test/large-app/app.e2e-spec.ts
Due: prettier --write, eslint --fix

feat: add some color to the messages
  README.md
  package.json
  pnpm-lock.yaml
  src/spelunker.messages.ts
Due: prettier --write, eslint --fix

docs: update the readme with installation info
  README.md
Due: prettier --write

fix: change underline to bold
  src/spelunker.messages.ts
Due: prettier --write, eslint --fix

chore: add changeset package for version management
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: swap to pnpm and update node version plus add release flow
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/release.yml
Due: none

ci: set ci to run against main branch
  .github/workflows/ci.yml
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset for first major version
  .changeset/wet-bags-rule.md
Due: prettier --write

feat: general code update for Nest v8
  .swcrc
  lib/exploration.module.ts
  package.json
  pnpm-lock.yaml
  test/app.e2e-spec.ts
  test/app/animals/animals.controller.spec.ts
  test/app/animals/animals.service.spec.ts
  test/app/animals/cats/cats.controller.spec.ts
  test/app/animals/cats/cats.module.ts
  test/app/animals/cats/cats.service.spec.ts
  test/app/animals/dogs/dogs.controller.spec.ts
  test/app/animals/dogs/dogs.service.spec.ts
  test/app/animals/hamsters/hamsters.controller.spec.ts
  test/app/animals/hamsters/hamsters.service.spec.ts
  test/fixtures/output.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: enable strict mode in typescript and clear out more files
  .czrc
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .lintstagedrc
  .sonarcloud.properties
  package.json
  pnpm-lock.yaml
  src/debug.module.ts
  src/exploration.module.ts
  src/spelunker.messages.ts
  src/spelunker.module.ts
  test/app.e2e-spec.ts
  test/app/animals/animals.controller.ts
  test/app/animals/animals.module.ts
  test/app/animals/cats/cats.controller.ts
  test/app/animals/cats/cats.module.ts
  test/app/animals/dogs/dogs.controller.ts
  test/app/animals/dogs/dogs.module.ts
  test/app/animals/hamsters/hamsters.controller.ts
  test/app/animals/hamsters/hamsters.module.ts
  test/app/app.module.ts
  test/fixtures/output.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: general cleanup, removal of pacakges, and changing lib to src
  package.json
  pnpm-lock.yaml
  src/debug.module.ts
  src/exploration.module.ts
  src/index.ts
  src/spelunker.interface.ts
  src/spelunker.module.ts
  test/app.e2e-spec.ts
  test/fixtures/output.ts
Due: prettier --write, eslint --fix

chore: unrestrict changeset config
  .changeset/config.json
Due: prettier --write

feat: proposal for simple graphing module
  src/graphing.module.ts
  src/spelunker.interface.ts
  src/spelunker.module.ts
  test/fixtures/output.ts
  test/large-app/app.e2e-spec.ts
Due: prettier --write, eslint --fix

doc: add graph and findGraphEdges info to README
  README.md
Due: prettier --write

doc: changeset
  .changeset/nervous-cows-provide.md
Due: prettier --write

refactor: graphing.module to handle cyclic dependencies
  src/graphing.module.ts
  test/fixtures/output.ts
  test/large-app/app.e2e-spec.ts
Due: prettier --write, eslint --fix

docs: removes cycle dependencies caveat
  README.md
Due: prettier --write

chore: update changeset
  .changeset/chatty-baboons-study.md
Due: prettier --write

test: removes Array.at to be comaptible w/ node <16
  test/large-app/app.e2e-spec.ts
Due: prettier --write, eslint --fix

ci: remove node 12 so pnpm will work
  .github/workflows/ci.yml
  .github/workflows/cron.yml
Due: none

docs: minor improvements on code snippets & fix hyperlink
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --fix: any of: *.ts
